body{

font-family:Arial;
background:#f3eadf;
margin:20px;

}

header{
text-align:center;
margin-bottom:20px;
}

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:8px;
border:1px solid #ccc;

}

th{
background:#e8e8e8;
}

tr:nth-child(even){
background:#fafafa;
}

#map{

height:500px;
margin-top:10px;
border:2px solid #ccc;

}

@media(max-width:800px){

.grid{
grid-template-columns:1fr;
}

}
